nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 60px 100px;
    .logo-container{
        display: flex;
        align-items: center;
        justify-content: center;
        p{
            margin: 0;
            color: #0a5dcb;
            font-weight: bold;
            font-size: 25px;
        }
        .logo {
            width: 100px;
            height: 100px;
        }
    }
    
    #navlist {
        ul {
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            .nav-items {
                color: black;
                list-style: none;
                margin: 30px;
                transition: 0.3s ease-in-out;
                &:hover {
                    color: #0a5dcb;
                }
                
            }
            .active{
                color: #0a5dcb;
            }
            .concept{
                font-size: 25px;
                color: rgb(0, 0, 0);
                &:hover{
                    color:#0a5dcb;
                }
            }
        }

        #mobile {
            display: none;
            
        }

        @media screen and (max-width:770px) {
            #navBar {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                position: fixed;
                top: 180px;
                right: -1600px;
                width: 100%;
                height: 100%;
                background-color: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.1);
                transition: 0.3s ease-in-out;

                .nav-items {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 25px;
                }
            }
            #navBar.active {
                right: 0px;
                top:132px;
            }
            #mobile {
                font-size: 30px;
                display: block;
                cursor: pointer;
            }
        }
    }
}