.home {
    .front-page {
        text-align: center;
        background-color: #e9eaf2;
        padding: 20px 20px 20px 20px;

        .team-name {
            left: 70px;
            bottom: 20px;

            h1 {
                font-size: 90px;
                font-family: IBM plex sans, serif;
                margin: 0;
            }

            .info {
                text-align: center;
                margin-bottom: 50px;
                font-size: 20px;
                font-family: work sans, sans-serif;

            }

            .team-card {
                padding: 2.5rem 0 2.5rem 0;
                background-color: white;
                transition: all 0.5s;
                
                &:hover{
                   transform: translateY(-0.5rem);
                   background-color: rgb(172, 205, 255);
                   box-shadow: 10px 10px 51px 0px rgba(158, 158, 158, 0.61);
                }

                img{
                    width: 50%;
                    height: 50%;
                    border-radius: 50%;
                }

                .lead-name {
                    margin: 0;
                    font-family:work sans, sans-serif ;
                    font-weight: 600;
                    font-size: 1.3rem;
                    padding: 0.5rem 0 0 0;
                    color: rgb(0, 119, 255);
                }

                .designation {
                font-family: work sans, sans-serif;

                }
                .socials{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    a{
                        font-size: 1.5rem;
                        color: rgb(52, 52, 52);

                        &:hover{
                            color: rgb(43, 103, 255);
                            transition: all 0.5s;
                        }
                    }

                   
                }
            }


        }

        .container {
            padding: 0px;

            .homeImg {
                width: 75%;
            }

            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media (max-width: 770px) {
            .homeImg {
                display: none;
            }
        }

    }
}

.team-mem-card {
    background-color: #e9eaf2;
    padding: 168px 0 0 0;
    text-align: center !important;

    .title {
        font-size: 50px;
        font-family: 'Playfair Display', serif;
        text-align: center !important;
        margin-bottom: 70px;

        hr {
            margin: 15px;
            width: 5%;
            border-top: 6px dotted #011447;
            margin: auto;
        }
    }
}