.event-container{
    background-color: #e9eaf2;
    .front-video{
        text-align: center;
        .vid{
            width: 90%;
            height: 89%;
            margin-bottom: 150px;
        }
    }
}
